/* google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins",sans-serif; 
    margin:0;
    padding:0 ;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
}
:root{
    --text-color:#000000;
    --main-color:#83b735;

}
section{
    padding:50px 10%;
}
header{
    position:fixed;
    width: 1005;
    top:0;
    right:0;
    z-index:1000;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 18px 100px;
    background:#edecea;

}
.logo{
    font-size:1.2rem;
    font-weight:600;
    color:var(--text-color);
}
.logo span{
    color:var(--main-color);
}
.navbar{
    position: relative;
    display: flex;
}
.navbar a{
    font-size: 1rem;
    padding:10px 20px;
    font-weight: 500;
    color: var(--text-color);
}
.navbar a:hover{
    color:var(--main-color);
}
#menu-icon{
    font-size: 2rem;
    cursor:pointer;
    display:none;
}

.box {
    position: relative;
    box-shadow: 1px 4px 4px rgb(0, 0, 0, 0.1);
    border-radius: 44px 4px 4px 4px;
}
.box .box-img {
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 44px 4px 0 0;
}



.home {
    width: 100%;
    min-height: 100vh;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: covere;
    background-position: right;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    
}
.home-text  h1 {
    font-size: 2.7rem;
}
.home-text p {
    font-size: 0.938rem;
    margin: 0.4rem 0 1.8rem;
}
.home-text span {
    color: var(--main-color);
}
.btn {
    padding: 10px 14px;
    background: var(--main-color);
    color: #fff;
    border-radius: 0.3rem;
    font-size: 14px;
}
.btn:hover{
    background: #8fc53d;
    transition: 0.5s;
}
/* shop now */
.shopping1{
    margin-left:10px;
    color:#000000;

}
.shopping2{
    margin-left:10px;
    color:#83b735;
}
.image-container {
    display: flex;
    justify-content: space-between;
}

.image-wrapper {
    position: relative;
    width: 30%;

}

.image-wrapper:hover .overlay {
    opacity: 1;
    display:grid;
    grid-template-columns: auto;
    text-align: center;

    align-items: center;
}
.button{
    width: 100px;


}
.button {
    margin: 0;
    position: absolute;
    top: 50%;
    left:37%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }


.image-container img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay button {
    padding: 10px 20px;
    background-color: #83b735;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.overlay button:hover {
    background-color: #83b735;
}
.overlay h2,
.overlay p {
    color: white;
    margin: 5px 0;
}

/* shop now ends */
/*brands and newslatter*/
.title-price{
    display: flex;
    justify-content: space-between;
    padding: 12px;
}
.title-price h3 {
    font-size: 1rem;
    font-weight: 600;

}
.box span{
    font-size: 1.1rem;
    font-weight: 500;
    padding-left: 12px;
    color: var(--main-color);
}
.stars .bx {
    color: var(--main-color);
}
.box .bx-cart{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 7px;
    font-size: 20px;
    color: #fff;
    border-radius: 4px 0 4px 0;
    background: var(--main-color);
}
.box .bx-cart:hover {
    background: #8fc53d;

}
.new-container .box {
    border-radius: 4px;
}
.new-container .box .box-img{
    border-radius: 4px;
}
.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.about-img img {
    width: 80%;
    border-radius: 10px;
    object-fit: contain;
}
.about-text span{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--main-color);

}
.brands-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,auto));
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;

}
.brands-container img{
    width: 100px;
    filter: grayscale(1);

}
.brands-container img:hover{
    width: 100px;
    filter: grayscale(0);

}
/* color of our brands partner */
.heading{
    color: #000000;
    margin-left:-130px;
    size:30px;
}
.heading span{
    color: #83b735;
}
.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.newsletter h2{
    color:aliceblue;
}
.news-box{
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
.news-box input{
    width: 260px;
    height: 44px;
    border: none;
    outline: none;
    background: #fff;
    padding: 10px;
}
.news-box .btn{
    height: 44px;
    padding: 11px;
    border-radius: 0;
    font-weight: 500;
    text-transform: uppercase;

}

.contact-info{
    display: flex;
    flex-direction: column;
}
.contact-info span{
    color: var(--text-color);
}
.contact-left{
    margin-top: 10px;
    line-height: 0.5;
    flex-basis: 35%;
}
.contact-right{
    line-height: 1;
    flex-basis: 60%;
}
::placeholder {
    color: #000000;
    opacity: 1; /* Firefox */
  }
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #83b735;
    margin-right: 10px;
    font-size: 30px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #83b735;
    transform: translateY(-5px);

}
.btn.btn2{
    display:inline-block;
    position: relative;
    top: 30px;
    left: 20px;
    right: 40px;
    background: #83b735;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 50%;
    border:0;
    outline: none;
    background: grey;
    padding: 10px;
    margin:15px ;
    color: #fff;
    font-size: 15px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: black;
}
#msg{
    color: #61b752;
    margin-top: -30px;
    display: block;
}
/*brands and newsletter */
/* <Contact> */
#contact{
    background-image: url("pexels-athena-2972890.jpg");
    background-size: contain;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

.contact-info{
    display: flex;
    flex-direction: column;
}
.contact-info span{
    color: var(--text-color);
}

.contact-left{
    position: relative;
    left: 50px;
    right: 0;
    margin-top: 20px;
    line-height: 0.0002;
    flex-basis: 35%;
    margin-right: 20px;
    color: black;
}

/* .contact-right{
    position: ;
    /* left: 50px;
    right: 0px; */
    /* margin-top: 20px;
    line-height: 1;
    flex-basis: 35%;
    margin-right: 20px;
    color: black;
    top: 0;
    right: 0;
    width: 40%;
} */

.contact-right {right:10px;
    position: absolute;
    top: 1630px;
    right: 0;
    left: 1450px;
    transform: translate(-50%);
    line-height: 1;
    width: 40%;
    color: white;
    flex-basis: 60%;
}

::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #83b735;
    margin-right: 10px;
    font-size: 100px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #83b735;
    transform: translateY(-5px);

}
.btn.btn1{
    display:inline-block;
    position:relative;
}
.btn.btn2{
    display:inline-block;
    position: absolute;
    left: -480px;
    top: 380px;
    right: 900px;
    background: #83b735;
    overflow-x: hidden;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 50%;
    border:0;
    outline: none;
    background: grey;
    padding: 10px;
    margin:15px ;
    color: #fff;
    font-size: 15px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
/* .copyright{
    width: 100%;
    text-align: center;
    padding: 25px ;

    background: #262626;
    font-weight: 300;
    margin-top: 20px;
} */
.copyright {
    position: relative;
    bottom: -165px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 25px;
    background: var(--main-color);
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: rgb(255, 255, 255);
}
#msg{
    color: #61b752;
    margin-top: -30px;
    display: block;
}

/* </Contact> */
@media (max-width:991px){
    header{
        padding: 18px 4%;
    }
    section{
        padding: 50px 4%;
    }
}
@media (max-width: 881px){
    .home-text h1{
        font-size: 2rem;
    }
    .shop-container,.new-container{
        grid-template-columns: repeat(auto-fit,minmax(218px, auto));
    }
}
@media (max-width: 768px){
    header{
        padding: 11px 4%;
    }
    #menu-icon {
        display: initial;
    }
    header .navbar{
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 4px 4px rgb(0 0 0 /10%);
        transition: 0.2s ease;
        text-align: center;
    }
    .navbar a {
        padding: 1.5rem;
        display: block;
    }
    .navbar.active {
        top: 100%;
    }
    .navbar a:hover {
        color: #fff;
        background: var(--main-color);
    }
    .about{
        grid-template-columns: 1fr;
        text-align: center;
    }
}

@media (max-width: 491px){
    .home-text h1{
        font-size: 1.7rem;
    }
    .shop-container,
    .new-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    }
    .box .box-img{
        height: 300px;
    }
    .new-box input{
        width: 180px;
    }
    .about-text h2{
        font-size: 1.2rem;
    }
}
